<body class="text-center">
  <form class="form-signin">
    <i class="bi bi-journal-code ms-3 me-3" style="font-size: 4rem; color: #391777"></i>
    <h1 class="h3 mb-3 mt-3 font-weight-normal">Faça seu login!</h1>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Esqueci minha senha
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-outline-dark btn-block" type="submit">Login</button>
  </form>
</body>

