<body class="main">
  <nav class="navbar fixed-top navbar-expand-lg nav">
  <div class="container-fluid ms-3">
    <a class="navbar-brand border border-ligth rounded-3" routerLink="/home">
      <i class="bi bi-journal-code ms-3 me-3 home">
      <span class="ms-2">MyEnglish Project</span></i>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link  dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
            Cursos
          </a>
          <ul class="dropdown-menu"> 
            <li><a class="dropdown-item" href="#">Iniciante</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Intermediário</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Avançado</a></li>
          </ul>
        </li>
      </ul>
      <nav class="navbar rounded-3">
        <div class="container-fluid rounded-3">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light rounded-2" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="d-flex flex-row-reverse ms-5 me-5">
        <a class="btn btn-outline-light rounded-3"routerLink="/login">Login</a>
      </div>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>


